**/.env
.idea
terraform/*
!terraform/main.tf
!terraform/vars.tfvars.example
**/_pycache_/
**/migrations/
**/db.sqlite3
backend/static/
backend/media/image/3/1_1.jpg
backend/media/image/4/1_1.jpg
backend/media/image/None/1_1.jpg
backend/media/image/None/1_Mr1USPy.jpg
backend/media/image/None/1_FCcRIE5.jpg
backend/media/image/None/1_rcYBkxj.jpg
backend/media/image/None/1_r8QE9mX.jpg
backend/media/image/None/1_QWwr2ga.jpg
backend/media/image/None/1_YfN96yM.jpg
backend/media/image/None/1_pFvgYzx.jpg
backend/media/image/None/4.jpg
backend/media/image/None/1_1_RXLdYNR.jpg
backend/media/image/None/6.jpg
backend/media/image/None/333.jpg
backend/media/image/None/9995.jpg
backend/media/image/None/1_1_ZyfRXTN.jpg
backend/Design/__pycache__/settings.cpython-311.pyc
backend/Design/__pycache__/urls.cpython-311.pyc
backend/media/1_1.jpg
backend/media/1_4B8t2ff.jpg
backend/media/1.jpg
backend/media/4.jpg
backend/media/6_lLhbuak.jpg
backend/media/6.jpg
backend/media/333.jpg
backend/media/9995__копия.jpg
backend/media/9995.jpg
backend/media/image/Тест 1 с галочкой/1.jpg
backend/project/__pycache__/__init__.cpython-311.pyc
backend/project/__pycache__/admin.cpython-311.pyc
backend/project/__pycache__/apps.cpython-311.pyc
backend/project/__pycache__/forms.cpython-311.pyc
backend/project/__pycache__/models.cpython-311.pyc
backend/project/__pycache__/serializers.cpython-311.pyc
backend/project/__pycache__/services.cpython-311.pyc
backend/project/__pycache__/views.cpython-311.pyc
backend/Design/__pycache__/settings.cpython-311.pyc
