**/.env
.idea
terraform/*
!terraform/main.tf
!terraform/vars.tfvars.example
**/_pycache_/
**/migrations/
**/db.sqlite3
backend/static/
backend/media/image/3/1_1.jpg
backend/media/image/4/1_1.jpg
backend/media/image/None/1_1.jpg
backend/media/image/None/1_Mr1USPy.jpg
backend/media/image/None/1_FCcRIE5.jpg
backend/media/image/None/1_rcYBkxj.jpg
backend/media/image/None/1_r8QE9mX.jpg
backend/media/image/None/1_QWwr2ga.jpg
backend/media/image/None/1_YfN96yM.jpg
backend/media/image/None/1_pFvgYzx.jpg
backend/media/image/None/4.jpg
backend/media/image/None/1_1_RXLdYNR.jpg
backend/media/image/None/6.jpg
backend/media/image/None/333.jpg
backend/media/image/None/9995.jpg
