image-id = "IMAGE_ID"
db-name = "DB_NAME"
db-user = "USERNAME" 
db-password = "PASSWD"
db-engine = "django.db.backends.postgresql"
db-port = "6432"
token = "TOKEN"
cloud-id = "CLOUD_ID" 
folder-id = "FOLDER_ID"